* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.toolbox-Container {
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

#Title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.toolbox-Container>* {
    margin-left: 4rem;
    border-radius: 4px;
}

.toolbox-priorityContainer {
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-btn-container {
    height: 3.5rem;
    width: 7rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.action-btn-container>* {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #d1d8e0;
}

.color {
    height: 1.5rem;
    width: 2rem;
}

.lightpink {
    background-color: lightpink;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color: black;
}

.action-btn-container>*:hover {
    background-color: #485460;
}

.toolbox-priorityContainer>*:hover {
    background-color: #485460;
}

.modal-cont {
    height: 50vh;
    width: 45vw;
    background: lightblue;
    border-radius: 10px;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    display: none;
}

.textarea-cont {
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
    padding: 2rem;
    font-size: 2rem;
    background-color: #dfe4ea;
    resize: none;

}

.task-priority-cont {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #4b4b4b;
}

.priority-color {
    height: 3rem;
    width: 5rem;
}

.active {
    border: 5px solid yellow;
}

.main-cont {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.task {
    height: 12rem;
    width: 15rem;
    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
}

.task-priority {
    height: 1rem;
}

.task-id {
    height: 2rem;
    background-color: red;
    text-decoration-style: solid;
}

.task-area {
    height: calc(100% - 3rem);
    font-size: 1.5rem;
    padding: 5px;
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
}

.ticket-lock {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
}